
.navbar-brand {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(0, 147, 0);
}

.card {
  margin-top: 20px;
  background-color: rgb(11, 9, 9);
}

.card-img-top {
  height: 20vh;
}

.btn {
  background: linear-gradient(to left, black, green);
  font-size: 13px;
}

.card-title {
    font-weight: 800;
    font-size: 20px;
    color: white;  
}

.card-text {
    color: white;
}

.image-container{
    margin-top: 20px;
}

.center-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    margin-top: 15px;
}

.margin-row{
    margin-top: 70px;
}

.second-navbar{
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(to left, black, green);
}

.navbar-text{
    color: white;
    font-weight: 500;
    padding-left: 7vh;
    text-transform: uppercase;
}

.third-navbar{
    margin-top: 80px;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(to left, black, green);
}


